body {
  background-color: #e6e6e6;
  font-size: 16px;
}

section {
  margin-bottom: 30px;
}

.well {
  overflow: auto;
}

.jumbotron {
  padding: 78px 0 30px 0;
}

.jumbotron p {
  margin-top: 20px;
}

.navbar {
  margin-bottom: 0;
}

.carousel {
  min-height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
  text-align: left;
  top: 71px;
  right: 10%;
  left: 10%;
  font-size: 22px;
  padding-left: 20px;
}

.carousel .item {
  min-height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px; 
}

.carousel-caption h1 {
  color: white;
}

.carousel-caption ul {
  padding-left: 0;
}

.carousel-caption .btn {
  margin-top: 20px;
}

.server-img {
  width: 80%;
}

li {
  list-style: none;
}

/* Marketing Section */

.marketing {
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .content {
  text-align: justify;
}

.marketing .col-md-4 {
  margin-bottom: 30px;
}

.price strong {
  font-size: 30px;
}

.modal-dialog {
z-index: 1050;
}





/* Media Queries */

@media (max-width: 992px) {
  .server-img {
  display: none;
  }
}

@media (min-width: 992px) {
  .marketing .btn {
  position: absolute;
  bottom: 20px;
  left: 145px;
  }
.marketing .col-md-4 {
  min-height: 360px;
  }
}

@media (max-width: 750px) {
  .price .panel-heading {
    min-height: 120px;
  }
}